## Intelligent Systems

### Group Project 2023
### Recipe Recomender

#### Collaborators: 
Chiara Paglioni (i6249782), Bianca Caissotti di Chiusano (i6245461) , Parand Mohri (i6234307), RoÌˆya Behbudlu (i6222209)

This Jupyter Notebook was used to pre-process the data. The orginal Dataset was taken from the website https://recipenlg.cs.put.poznan.pl/dataset and it is called `full_dataset.csv`. The following steps were performed to process the dataframe: 

- Drop columns of the Dataframe that are not relevant for the Intelligent System. These include the steps needed to prepare the recipe and the exact quantities of the ingredients needed for that recipe. In the end, only the `Ingredients` and `Recipe` columns were included in the processed Dataframe.
- The igredients were saved as a single String in the original Dataframe hence, the data was processed to convert them into a list of ingreiends where every ingredient is a String.
- Empty characters in the String of each ingredient were handled. In particular, these empty characters were removed before saving the lists of ingredients in the correct Dataframe.
- Finally, the size of the Dataframe was reduced. This was achieved in two different ways: 
    - Remove duplicate recipes in the Dataframe.
    - Remove recipes that need more than 6 ingredients or less than 2.

In [42]:
import pandas as pd

In [43]:
full_data = pd.read_csv("full_dataset.csv")
correct_data = pd.read_csv("correct_data.csv")

In [44]:
print('Column Values: ', correct_data.columns.values)

Column Values:  ['Unnamed: 0' 'Ingredients' 'Recipe']

In [45]:
correct_data.head()

,Unnamed: 0,Ingredients,Recipe
0,1,"['chicken', 'chicken gravy', 'cream of mushroom soup', 'shredded cheese']",Jewell Ball'S Chicken
1,3,"['pineapple', 'condensed milk', 'lemons', 'pecans', 'graham cracker crusts']",Chicken Funny
2,4,"['powdered sugar', 'butter', 'peanut butter', 'paraffin', 'chocolate chips']",Reeses Cups(Candy)
3,9,"['condensed milk', 'semi-sweet chocolate chips', 'unsweetened chocolate', 'nuts', 'vanilla']",Millionaire Pie
4,11,"['cherry pie mix', 'deluxe white cake mix', 'butter', 'ground nuts']",Buckeye Candy

### Drop Irrelevant Columns from the Dataframe

In [ ]:
clean_data = pd.DataFrame()
clean_data["Ingredients"] = full_data['NER']
clean_data["Recipe"] = full_data['title']
clean_data.head()

### Convert the Ingredients Column from String to List in the Dataframe

In [30]:
# test_data = full_data.copy()
# test_data["Ingredients"] = test_data["Ingredients"].str.replace('[','')
# test_data["Ingredients"] = test_data["Ingredients"].str.replace(']','')
# test_data["Ingredients"] = test_data["Ingredients"].str.replace('"','')
# test_data["Ingredients"] = test_data["Ingredients"].str.split(',')
# test_data["Ingredients"]

### Take Empty Characters from the Dataframe

In [34]:
def get_space_out(ingred_list):
    result = []
    for i in range(0, len(ingred_list)):
        result.append(ingred_list[i].strip())
    return result

In [32]:
# for i in range(0, len(test)):
#    test_data["Ingredients"][i] = get_space_out(test[i])

### Remove Size of the Dataframe

### Save Data into the Correct Dataframe

In [33]:
# test_data.to_csv('correct_data.csv')

In [ ]:
# TO DO: 
# 1. Add terminal and connect it to code (connect jupiter with terminal)
# 2. Process data (delete large recipe, delete duplicate recipes, )
# 3. Make a video