In [1]:
import pandas as pd

In [2]:
full = pd.read_csv("full_dataset.csv")

In [3]:
full.columns.values

array(['Unnamed: 0', 'title', 'ingredients', 'directions', 'link',
       'source', 'NER'], dtype=object)

In [4]:
full.head()

,Unnamed: 0,title,ingredients,directions,link,source,NER
0,0,No-Bake Nut Cookies,"[""1 c. firmly packed brown sugar"", ""1/2 c. eva...","[""In a heavy 2-quart saucepan, mix brown sugar...",www.cookbooks.com/Recipe-Details.aspx?id=44874,Gathered,"[""brown sugar"", ""milk"", ""vanilla"", ""nuts"", ""bu..."
1,1,Jewell Ball'S Chicken,"[""1 small jar chipped beef, cut up"", ""4 boned ...","[""Place chipped beef on bottom of baking dish....",www.cookbooks.com/Recipe-Details.aspx?id=699419,Gathered,"[""beef"", ""chicken breasts"", ""cream of mushroom..."
2,2,Creamy Corn,"[""2 (16 oz.) pkg. frozen corn"", ""1 (8 oz.) pkg...","[""In a slow cooker, combine all ingredients. C...",www.cookbooks.com/Recipe-Details.aspx?id=10570,Gathered,"[""frozen corn"", ""cream cheese"", ""butter"", ""gar..."
3,3,Chicken Funny,"[""1 large whole chicken"", ""2 (10 1/2 oz.) cans...","[""Boil and debone chicken."", ""Put bite size pi...",www.cookbooks.com/Recipe-Details.aspx?id=897570,Gathered,"[""chicken"", ""chicken gravy"", ""cream of mushroo..."
4,4,Reeses Cups(Candy),"[""1 c. peanut butter"", ""3/4 c. graham cracker ...","[""Combine first four ingredients and press in ...",www.cookbooks.com/Recipe-Details.aspx?id=659239,Gathered,"[""peanut butter"", ""graham cracker crumbs"", ""bu..."

In [5]:
full["NER"][0][3]

'r'

In [13]:
pd.set_option('display.max_colwidth', None)
data = pd.DataFrame()
data["Ingredients"] = full['NER']
data["Recipe"] = full['title']
#data = data.drop("Receipe", axis=1)
#data = data.drop("title", axis=1)
data.head()

,Ingredients,Recipe
0,"[""brown sugar"", ""milk"", ""vanilla"", ""nuts"", ""butter"", ""bite size shredded rice biscuits""]",No-Bake Nut Cookies
1,"[""beef"", ""chicken breasts"", ""cream of mushroom soup"", ""sour cream""]",Jewell Ball'S Chicken
2,"[""frozen corn"", ""cream cheese"", ""butter"", ""garlic powder"", ""salt"", ""pepper""]",Creamy Corn
3,"[""chicken"", ""chicken gravy"", ""cream of mushroom soup"", ""shredded cheese""]",Chicken Funny
4,"[""peanut butter"", ""graham cracker crumbs"", ""butter"", ""powdered sugar"", ""chocolate chips""]",Reeses Cups(Candy)

In [14]:
# x = data["Ingredients"][0].split(",")
# x.replace('[', "")
data["Ingredients"][0].replace('[','')
data["Ingredients"][0].replace(']','')

'["brown sugar", "milk", "vanilla", "nuts", "butter", "bite size shredded rice biscuits"'

In [15]:
def find_that_recipe(ingredients):
    x = data
    for ing in ingredients:
        x = x[x['Ingredients'].str.contains(ing)]
    return x['Recipe'].to_frame().reset_index().drop('index',axis=1)

In [23]:
# x = data[data['Ingredients'].str.contains('milk') ]
# y = x[x['Ingredients'].str.contains('pepper')]
# y
# x = x[x['Ingredients'].str.contains('pepper')]
l = ['milk', 'pepper', 'nuts']
y = find_that_recipe(l)
# y = y.to[_frame()
#full[full['title']=='']
y

                               Recipe
0          Swiss 'N Chicken Casserole
1                       Ham Casserole
2                Chicken Casserole-12
3                      Tuna Casserole
4                       Appetizer Pie
...                               ...
1599  Cheesy and Peppery Walnut Bread
1600                      Laksa Gravy
1601        Creamy Chicken Florentine
1602         Middle Eastern Meat Loaf
1603  Peppermint Candy Cookies Recipe

[1604 rows x 1 columns]

In [68]:
test_data = data.copy()
test_data["Ingredients"] = test_data["Ingredients"].str.replace('[','')
test_data["Ingredients"] = test_data["Ingredients"].str.replace(']','')
test_data["Ingredients"] = test_data["Ingredients"].str.replace('"','')
test_data["Ingredients"] = test_data["Ingredients"].str.split(',')
# test_data["Ingredients"]

<ipython-input-68-298ac55c7961>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  test_data["Ingredients"] = test_data["Ingredients"].str.replace('[','')
<ipython-input-68-298ac55c7961>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  test_data["Ingredients"] = test_data["Ingredients"].str.replace(']','')

0                                                                                                                                                                                                                                                                                                [brown sugar,  milk,  vanilla,  nuts,  butter,  bite size shredded rice biscuits]
1                                                                                                                                                                                                                                                                                                                   [beef,  chicken breasts,  cream of mushroom soup,  sour cream]
2                                                                                                                                                                                                                                                                                                            [frozen corn,  cream cheese,  butter,  garlic powder,  salt,  pepper]
3                                                                                                                                                                                                                                                                                                             [chicken,  chicken gravy,  cream of mushroom soup,  shredded cheese]
4                                                                                                                                                                                                                                                                                              [peanut butter,  graham cracker crumbs,  butter,  powdered sugar,  chocolate chips]
                                                                                                                                                                                            ...
2231137                                                                                                                                                                                                                                                                                                [chocolate hazelnut spread,  tortillas,  butter,  marshmallows,  hazelnuts]
2231138                                                                                                                                                                                                                                                                                                                   [eggs,  paprika,  salt,  choice,  miracle whip,  relish]
2231139                                                                                                                                                                                                                                                                                                              [radish,  Sesame oil,  White sesame seeds,  Salt,  Soy sauce]
2231140    [apple cider,  sugar,  kosher salt,  bay leaves,  arbol,  berries,  caraway seeds,  mustard seeds,  coriander seeds,  pork chops,  Freshly ground black pepper,  neutral oil,  unsalted butter,  shallots,  thyme,  brandy,  heavy cream,  pork,  grain mustard,  horseradish,  apple cider,  cinnamon,  apples,  egg,  water,  rice flour,  all-purpose,  neutral oil]
2231141                                                                                                                                                                                                  [ground veal,  sausage,  bread crumbs,  milk,  garlic,  flat-leaf,  egg whites,  tomato paste,  freshly grated Pecorino Romano cheese,  Salt,  tomato sauce,  red pepper]
Name: Ingredients, Length: 2231142, dtype: object

In [71]:
test = test_data["Ingredients"].tolist()
#type(test_data["Ingredients"].tolist())
#print(len(test))

2231142

In [ ]:
for i in range(0, len(test)):
    test_data["Ingredients"][i] = get_space_out(test[i])

In [ ]:
test_data.to_csv('correct_data.csv')

In [ ]:
def get_space_out(ingred_list):
    result = []
    for i in range(0, len(ingred_list)):
        result.append(ingred_list[i].strip())
    return result

In [ ]:
def find_recipe(ingredients): 
    recipes_list = []
    for i in range(0, len(test)):
        temp = set(test[i])
        if temp == set(get_space_out(ingredients)):
            recipes_list.append(test_data['Recipe'][i])
    return recipes_list

In [ ]:
li = ['milk', 'pepper', 'nuts']
li2 = ['brown sugar', ' milk', ' vanilla', ' nuts', ' butter', ' bite size shredded rice biscuits']
y = find_recipe(li2)
y

In [ ]:
print(get_space_out(li2))

In [ ]:
# TO DO: 
# 1. Add terminal and connect it to code (connect jupiter with terminal)
# 2. Process data (delete large recipe, delete duplicate recipes, )
# 3. Make a video